*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
   

}
.navbar{
    background-color: #fff;
    
}
   

body{
    background:grey; 
     
}

.login{
      
    left: 40%;  
    margin: 25px 0 0 -25px;
    position: absolute;
    width: 385;
    background-color:#fff;
    padding: 20px;
    border-radius: 12px;
   
}

.login h1{
    font-size:36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;


}

.login form .form-group{
    margin-bottom:12px;

}

.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
}